
Podfile.lock

Pods/

VKMusic.xcworkspace/contents.xcworkspacedata

VKMusic.xcworkspace/xcuserdata/vladimirmelnikov.xcuserdatad/UserInterfaceState.xcuserstate

VKMusic.xcworkspace/xcuserdata/vladimirmelnikov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

